sudo: required
language: java
addons:
  apt:
    packages:
    - rpm
    - devscripts
    - fakeroot
deploy:
  - provider: script
    script: cp .travis.settings.xml $HOME/.m2/settings.xml && mvn -Prelease deploy
    skip_cleanup: true
    on:
      branch: travis
      tags: false
cache:
  directories:
  - $HOME/.cache
  - $HOME/.m2
notifications:
  email:
    recipients:
    - dev@obiba.org
    on_success: change
    on_failure: always