language: python
python:
- '3.7'
- '3.9'
matrix:
  include:
  - python: 3.7
    dist: xenial
addons:
  apt:
    packages:
    - libgnutls28-dev
before_install:
- pip install poetry
- pip install pytest
install:
- poetry install -v
script:
- poetry run pytest
before_deploy:
- poetry config http-basic.pypi $PYPI_USER $PYPI_PASSWORD
- poetry build
deploy:
  provider: script
  script: poetry publish
  on:
    tags: true
    condition: "$TRAVIS_PYTHON_VERSION == 3.7"
notifications:
  email:
    recipients:
    - dev@obiba.org
    on_success: change
    on_failure: always